<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RadonWriter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RadonWriter.My.MySettings>
            <setting name="CompanyLogoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InspectorName" serializeAs="String">
                <value />
            </setting>
            <setting name="InspectorLicense" serializeAs="String">
                <value />
            </setting>
            <setting name="InspectorPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyName" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyAddress1" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyAddress2" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyCity" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyState" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyZipCode" serializeAs="String">
                <value />
            </setting>
        </RadonWriter.My.MySettings>
    </userSettings>
</configuration>