<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncfusionWindowsFormsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SyncfusionWindowsFormsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SyncfusionWindowsFormsApplication1.My.MySettings.vreportsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\VReports.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SyncfusionWindowsFormsApplication1.My.MySettings>
            <setting name="DefaultPictureImagePath" serializeAs="String">
                <value>C:\Users\Evie.4HI-VM3\Documents\source\repos\VoseHomeInspections\VHomeGauge\Images\vosehi_vhg_175.jpeg</value>
            </setting>
        </SyncfusionWindowsFormsApplication1.My.MySettings>
    </applicationSettings>
    <userSettings>
        <SyncfusionWindowsFormsApplication1.My.MySettings>
            <setting name="PictureFilters" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Signature</string>
                        <string>hgis</string>
                        <string>hgx</string>
                        <string>hvac</string>
                        <string>vosehi</string>
                        <string>line1</string>
                        <string>watermark</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SplitterLeftDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitterRightDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="People4DataPath" serializeAs="String">
                <value>C:\Users\Evie.4HI-VM3\Documents\HomeGauge\people4.csv</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Evie.4HI-VM3\Documents\source\repos\VoseHomeInspections\VHomeGauge\VReports.accdb</value>
            </setting>
        </SyncfusionWindowsFormsApplication1.My.MySettings>
    </userSettings>
</configuration>
